$font-primary: "Nunito", sans-serif;
$font-secondary: "Open Sans", sans-serif;

$primary-color: hsla(128, 52%, 46%, 1);
$primary-color-1: hsla(128, 38%, 46%, 1);
$secondary-color: hsla(262, 100%, 30%, 1);
$secondary-color-1: hsla(262, 86%, 30%, 1);
$white: hsla(0, 100%, 100%, 1);
$dark-color: hsla(0, 0%, 6%, 1);
$dark-light: hsla(200, 18%, 26%, 1);
$light-color: hsla(0, 0%, 93%, 1);
$text-color: hsla(209, 61%, 16%, 1);
$gray: hsla(218, 57%, 97%, 1);

$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.1);
$dark-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
$max-width: 1280px;
$fixed-width: 700px;
$gradient: linear-gradient(315deg, #55efc4 0%, #1d1d1d 74%);

//set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 70%) {
    @return #333;
  } @else {
    @return white;
  }
}

//set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
